*{
    margin: 0%;
    padding: 0%;
}

html{
    scroll-behavior: smooth;
}
body{
    display: flex;
    justify-content: center;
    background-color: black;
}
.container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22vh;
    width: 100%;
}
/* upper */



.upper{
    margin: 15px;
}

/* left  */


#left img{
    height: 70px;
    width: 70px;
}
div#left{
    margin-right: 50px;
}
}


/* rigth  */

div #right{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 266px;
    margin: 50px;
}
#right input {
    height: 25px;
    width: 220px;
    margin-right: 5px;
}
#right img {
    height: 25px;
    width: 25px;
    margin-left: 16px;
}


/* mid  */

#mid img{
    height: 420px;
    width: 620px;
}

/* middle  */

div.container2{
    height: 260px;
    width: 100%;
    margin-top: 300px;
    display: flex;
    justify-content: center;
}
.item{
    height: 260px;
    width: 150px;
    margin-inline: auto;
    box-sizing: border-box;
    align-items: center;
}

.item img{
    height: 100px;
    width: 150px;
}

.item li p{
    text-decoration: none;
    color: white;
}
a{
    color: white;
}

/* button  */
.btn{
    background-color: black;
    border: none;
    display: inline;
}
.btn :hover{
    border: 1px solid white;

}


.btn2{
    background-color: black;
    border: none;
    margin-top: 1px;
}
.btn2 :hover{
    border: 1px solid white;

}

.btn,.link{
    display: inline;
    box-sizing: border-box;
    border: none;
    outline: none;
    width: 250px;
    color: black;
    transition: 0.3s;
}
.list{
    position: absolute;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
}
.newlist{
    transform: scaleY(1);
}
.link{
    background-color: #283c63;
}
.link :hover{
    background-color: blanchedalmond;
    transform: scale(1.1);
}

